boto3==1.9.227
requests==2.22.0
requests-aws4auth==0.9
Werkzeug==0.16.0
PyYAML==5.1.2
Flask_Script==2.0.6
Flask==1.0.2
Flask_Cors==3.0.7
Flask_RESTful==0.3.7
python-dotenv==0.10.3
cloudianapi==0.2.4
xmltodict==0.12.0
tzlocal==2.0.0